.container{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    background-color: paleturquoise;
    overflow: hidden;
    top: 58px;
    width:calc(100% - 150px);
    margin-left: 150px;
    float: left;
    height: calc(100vh - 58px);
    position: absolute;
    border-style: hidden;
    column-gap: 60px;
}

@media screen and (max-width: 600px){
    .container{overflow: scroll;
               justify-content: center;    
    }
}