* {
    padding:0;
    margin:0;
    }

 .right-side li, .left-side li{
 display:inline-block;
}

.h_navbar{
    background-color: palegoldenrod;
    overflow: hidden;
    display: flex;
    width: 100%;
    justify-content: space-between;

}    

.right-side li a, .left-side li p{
    text-decoration: none;
    display: block;
    width: auto;
    height: auto;
    font-size: 15px;
    color: #000000;
    text-align: center;
    padding: 15px;
}

 .h_navbar ul{
    list-style-type: none; 
    background-color: palegoldenrod;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
 }

.h_navbar a:hover{
    background-color: paleturquoise;
    color: white;
}
 
body{
    background-color: rgb(255, 255, 255);
}

.v_navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 100vh;
    background-color: lightgreen;
    overflow: hidden;
  }
  
.v_navbar li a {
  display: block;
  position: relative;
  color: #000;
  padding: 8px 16px;
  text-decoration: none; 
  }

.v_navbar li a:hover {
    background-color: paleturquoise;
    color: white;
  }

.v_navbar li{
    text-align: center;
    /* border-bottom: 1px solid #555; */
  }

.v_navbar img{
 display: inline;
 width: 20px;
 height: 20px;
 float: left;
 margin-top: 10px;
 margin-left: 5px;

}

