<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>

<body>
    <form action="{%url 'signin' %}" method="post">
      {% csrf_token %}
        <label for="">UserID</label>
        <br>
        <input type="text" id="username" name="username" placeholder="Create a userid(e.g.s12345678)" Required>
        <br>
        <label for="">PassWord</label>
        <br>
        <input type="password" id="pass1" name="pass1" placeholder="Enter your PassWord" Required>
        <br>
        <button type="submit">Sign In</button>  
    </form>
</body>
</html>